@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Connect to Azure Key Vault directly</h1>
        <br><br><br><br><br>
    </section>
    <p>@ViewBag.Secret</p>
</main>