@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Query data from Blob Stroage</h1>
        <br><br><br><br><br>
    </section>
    <h3> Auth with Managed Identity </h3>
    @if (ViewBag.JsonDataMI != null)
    {
        <pre>@Html.Raw(ViewBag.JsonDataMI)</pre>
    }
    else
    {
        <p>No JSON data available.</p>
    }
    <br><br>
    <h3> Auth with Connection String </h3>
    @if (ViewBag.JsonDataConn != null)
    {
        <pre> @Html.Raw(ViewBag.JsonDataConn) </pre>
    }
    else
    {
        <p>No JSON data available.</p>
    }
</main>